{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": "usage",
      "debug": true
    }]
  ],
  "plugins": [
    "transform-decorators-legacy"
  ]
}